fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
requests
langchain_huggingface
langchain
lightkurve
langchain_chroma
langchain_community
python-multipart