fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-chroma
langchain-community
chromadb
sentence-transformers
requests
langchain_huggingface
lightkurve
python-multipart
matplotlib
seaborn
numpy
pandas
lightgbm
